/* || Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

html {
	font-family: var(--FONT-FAMILY);
}

body {
	min-height: 200vh;
	min-width: 100vh;
}

/* || CSS Variables */
:root {
	/* Fonts */
	--FONT-FAMILY: Arial, Helvetica, sans-serif;
	--HEADER-FONT-SIZE-NORMAL: 14px;
	--HEADER-FONT-SIZE-SMALL: 12px;

	/* Colors */
	--PRIMARY-HEADER-BG-COLOR: #131921;
	--SECONDARY-HEADER-BG-COLOR: #222f3e;
	--HEADER-FONT-COLOR: white;
}

/* No Wrap */
.no-wrap {
	white-space: nowrap;
}

/* || Header Styles */
header {
	font-size: var(--HEADER-FONT-SIZE-NORMAL);
}

/* Header Font Styles */
.header-font-small {
	font-size: var(--HEADER-FONT-SIZE-SMALL);
}
.header-font-normal-bold {
	font-weight: bold;
}

/* || Primary Header Styles - Primary Header Sticks to the Top When User Scrolls. */
.primary-header-container {
	background-color: var(--PRIMARY-HEADER-BG-COLOR);
	color: var(--HEADER-FONT-COLOR);

	display: flex;
	flex-wrap: nowrap;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

/* Primary Header Styles - Left Side */
.primary-header-left {
	display: flex;
	flex-wrap: nowrap;
}

/* Amazon Logo Styles */
.logo {
	display: flex;
	flex-wrap: nowrap;
	margin: 2px;
	padding: 1px 15px 0px 6px;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.logo img {
	height: 50px;
	max-width: 120px;
	padding: 0.6rem 0.1rem 0.6rem 0.5rem;
}

.logo p {
	margin-bottom: 0.4rem;
}

/* Delivery Locaton */
.delivery-location {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	margin: 2px;
	padding: 1px 8px 5px 6px;

	cursor: pointer;
}

.delivery-location i {
	margin: 0.5rem 0.2rem 0rem 0rem;
}

/* Hover Styles */
.logo:hover,
.delivery-location:hover {
	outline: 1px solid white;
	box-shadow: 0px 0px 5px white;
	border-radius: 1px;
}

/* Primary Header Styles - Left Side Styles Ends here.  */

/* Primary Header Styles - Center Side Contains Search Bar.  */
.primary-header-center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	margin: 2px;
	padding: 1px 8px 5px 6px;

	flex-grow: 1;
}

.search-bar input,
.search-bar select,
.search-bar i {
	border: 1px solid white;
	border: none;
	outline: none;
	padding: 0.5rem;
}

.search-bar i {
	background-color: #f3a846;
	color: var(--PRIMARY-HEADER-BG-COLOR);
	font-size: 18px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.search-bar select {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	border-right: 1px solid #d4d4d4;
	background-color: #d4d4d4;
}

.search-bar input {
	flex-grow: 1;
}

.search-bar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	min-width: 100%;
}

/* Primary Header on Hover Styles */
.search-bar:hover {
	outline: 1px solid orange;
	box-shadow: 0px 0px 5px white;
	border-radius: 5px;
}
/* Primary Header Styles - Center Side Styles Ends Here.  */

/* Primary Header Styles - Right Side Styles Contains Language, Sign In, Returns and Orders, and Cart.  */
/* Primary Header Styles - Right Side Styles Ends Here.  */
.primary-header-right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

/* Language Container */
.select-language {
	margin: 2px;
	padding: 1px 8px 5px 6px;
	cursor: pointer;
}

.select-language-inner-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 14px 0px 14px 0px;
}

.select-language-inner-container select {
	border: none;
	outline: none;

	background-color: var(--PRIMARY-HEADER-BG-COLOR);
	color: var(--HEADER-FONT-COLOR);

	cursor: pointer;
}

.select-language-inner-container img {
	width: 21px;
	height: 16px;
}

/* Accounts and Sign In Container */
.accounts-sign-in {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;

	cursor: pointer;
}

.accounts-sign-in select {
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--HEADER-FONT-COLOR);

	cursor: pointer;
}

.accounts-sign-in p {
	margin-left: 4px;
}

/* Reurns and orders */
.returns-and-orders {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px;

	cursor: pointer;
}

/* Add to Cart */
.add-to-cart {
	display: flex;
	flex-wrap: nowrap;
	padding: 12px;

	cursor: pointer;
}

.add-to-cart i {
	font-size: 25px;
	margin-right: 4px;
}

.add-to-cart p {
	display: flex;
	align-items: flex-end;
}

/* Primary Header Right - Subcontainers on Hover Styles. */
.select-language:hover,
.accounts-sign-in:hover,
.returns-and-orders:hover,
.add-to-cart:hover {
	outline: 1px solid white;
	box-shadow: 0px 0px 5px white;
	border-radius: 1px;
}
/* Primary Header Styles Ends Here. */

/* Secondary Header - Move upwards when user scroll. */
.secondary-header-container {
	background-color: var(--SECONDARY-HEADER-BG-COLOR);
	color: var(--HEADER-FONT-COLOR);
	max-height: 46px;
	margin-top: 3.4rem;

	display: flex;
	flex-wrap: nowrap;
}

/* Secondary Header Left - Hamburger Menu */
.hamburger-menu-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px;

	margin-left: 2px;
}

.menu p {
	padding: 0rem 0.5rem;
}

.menu i {
	font-size: 20px;
}

/* Secondary Header Center - Shopping Categories  */
.shopping-categories-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-grow: 1;
}

.shopping-items {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: 2px;
	row-gap: 10px;
}

.shopping-items li {
	padding: 0.74rem;
}

/* Secondary Header Right - MiniTv Advertisement */
.mini-tv-advertisement-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.advertisement {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 40px;
	margin-right: 2px;
}

/*  Secondary Header Left, Center, Right - On Hover Styles */
.menu:hover,
.shopping-items li:hover,
.advertisement:hover {
	outline: 1px solid white;
	box-shadow: 0px 0px 5px white;
	border-radius: 1px;
}
/* Secondary Header Styles Ends Here. */
